<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur30_simple_gripper_realsense">
  <group name="ur30_arm">
    <chain base_link="base_link" tip_link="tool0" />
  </group>
  <group name="simple_gripper">
    <joint name="gripper_left_finger_joint" />
  </group>
  <group name="ur30_gripper">
    <group name="ur30_arm" />
    <group name="simple_gripper" />
  </group>
  <group_state name="home" group="ur30_arm">
    <joint name="shoulder_pan_joint" value="0" />
    <joint name="shoulder_lift_joint" value="-1.5707" />
    <joint name="elbow_joint" value="0" />
    <joint name="wrist_1_joint" value="0" />
    <joint name="wrist_2_joint" value="0" />
    <joint name="wrist_3_joint" value="0" />
  </group_state>
  <group_state name="up" group="ur30_arm">
    <joint name="shoulder_pan_joint" value="0" />
    <joint name="shoulder_lift_joint" value="-1.5707" />
    <joint name="elbow_joint" value="0" />
    <joint name="wrist_1_joint" value="-1.5707" />
    <joint name="wrist_2_joint" value="0" />
    <joint name="wrist_3_joint" value="0" />
  </group_state>
  <group_state name="gripper_open" group="simple_gripper">
    <joint name="gripper_left_finger_joint" value="0.0" />
  </group_state>
  <group_state name="gripper_closed" group="simple_gripper">
    <joint name="gripper_left_finger_joint" value="0.042" />
  </group_state>
  <end_effector name="simple_gripper" parent_link="tool0" group="simple_gripper" parent_group="ur30_arm" />
  <virtual_joint name="virtual_joint" type="fixed" parent_frame="world" child_link="base_link" />
</robot>
